/* Coolors Exported Palette - coolors.co/dedede-bcbcbc-454545-9d9d9d-222222 */

/* HSL */
$color1: hsla(0%, 0%, 87%, 1);
$color2: hsla(0%, 0%, 74%, 1);
$color3: hsla(0%, 0%, 27%, 1);
$color4: hsla(0%, 0%, 62%, 1);
$color5: hsla(0%, 0%, 13%, 1);

/* RGB */
$color1: rgba(222, 222, 222, 1);
$color2: rgba(188, 188, 188, 1);
$color3: rgba(69, 69, 69, 1);
$color4: rgba(157, 157, 157, 1);
$color5: rgba(34, 34, 34, 1);